@font-face {
    font-family: 'Athanasius';
    src: url('/assets/Fonts/Athanasius.ttf');
    font-weight: normal;
    font-style: normal;
}/* You can add global styles to this file, and also import other style files */
